<section class="terms-conditions-section">
    <div class="container">
        <h1>{{ 'termsConditions.title' | translate }}</h1>
        
        <h2>{{ 'termsConditions.introductionTitle' | translate }}</h2>
        <p>{{ 'termsConditions.introduction' | translate }}</p>

        <h2>{{ 'termsConditions.useTitle' | translate }}</h2>
        <p>{{ 'termsConditions.use' | translate }}</p>
        <ul>
            <li>{{ 'termsConditions.useItem1' | translate }}</li>
            <li>{{ 'termsConditions.useItem2' | translate }}</li>
            <li>{{ 'termsConditions.useItem3' | translate }}</li>
        </ul>

        <h2>{{ 'termsConditions.userResponsibilitiesTitle' | translate }}</h2>
        <p>{{ 'termsConditions.userResponsibilities' | translate }}</p>
        <ul>
            <li>{{ 'termsConditions.userResponsibilitiesItem1' | translate }}</li>
            <li>{{ 'termsConditions.userResponsibilitiesItem2' | translate }}</li>
            <li>{{ 'termsConditions.userResponsibilitiesItem3' | translate }}</li>
        </ul>

        <h2>{{ 'termsConditions.intellectualPropertyTitle' | translate }}</h2>
        <p>{{ 'termsConditions.intellectualProperty' | translate }}</p>

        <h2>{{ 'termsConditions.terminationTitle' | translate }}</h2>
        <p>{{ 'termsConditions.termination' | translate }}</p>

        <h2>{{ 'termsConditions.disclaimerTitle' | translate }}</h2>
        <p>{{ 'termsConditions.disclaimer' | translate }}</p>

        <h2>{{ 'termsConditions.changesTitle' | translate }}</h2>
        <p>{{ 'termsConditions.changes' | translate }}</p>

        <h2>{{ 'termsConditions.contactTitle' | translate }}</h2>
        <p>{{ 'termsConditions.contact' | translate }}<a href="dailycodechallenge365@gmail.com">{{ 'privacyPolicy.contactEmail' | translate }}</a></p>
    </div>
</section>
