<section class="privacy-policy-section">
    <div class="container">
        <h1>{{ 'privacyPolicy.title' | translate }}</h1>

        <h2>{{ 'privacyPolicy.introductionTitle' | translate }}</h2>
        <p>{{ 'privacyPolicy.introduction' | translate }}</p>

        <h2>{{ 'privacyPolicy.dataCollectionTitle' | translate }}</h2>
        <p>{{ 'privacyPolicy.dataCollection' | translate }}</p>
        <ul>
            <li>{{ 'privacyPolicy.dataCollectionItem1' | translate }}</li>
            <li>{{ 'privacyPolicy.dataCollectionItem2' | translate }}</li>
            <li>{{ 'privacyPolicy.dataCollectionItem3' | translate }}</li>
        </ul>

        <h2>{{ 'privacyPolicy.dataUseTitle' | translate }}</h2>
        <p>{{ 'privacyPolicy.dataUse' | translate }}</p>
        <ul>
            <li>{{ 'privacyPolicy.dataUseItem1' | translate }}</li>
            <li>{{ 'privacyPolicy.dataUseItem2' | translate }}</li>
            <li>{{ 'privacyPolicy.dataUseItem3' | translate }}</li>
        </ul>

        <h2>{{ 'privacyPolicy.dataSharingTitle' | translate }}</h2>
        <p>{{ 'privacyPolicy.dataSharing' | translate }}</p>
        <ul>
            <li>{{ 'privacyPolicy.dataSharingItem1' | translate }}</li>
            <li>{{ 'privacyPolicy.dataSharingItem2' | translate }}</li>
            <li>{{ 'privacyPolicy.dataSharingItem3' | translate }}</li>
        </ul>

        <h2>{{ 'privacyPolicy.dataSecurityTitle' | translate }}</h2>
        <p>{{ 'privacyPolicy.dataSecurity' | translate }}</p>

        <h2>{{ 'privacyPolicy.cookiesTitle' | translate }}</h2>
        <p>{{ 'privacyPolicy.cookies' | translate }}</p>

        <h2>{{ 'privacyPolicy.yourRightsTitle' | translate }}</h2>
        <p>{{ 'privacyPolicy.yourRights' | translate }}</p>

        <h2>{{ 'privacyPolicy.contactTitle' | translate }}</h2>
        <p>{{ 'privacyPolicy.contact' | translate }}<a href="dailycodechallenge365@gmail.com">{{ 'privacyPolicy.contactEmail' | translate }}</a></p>

    </div>
</section>
